* {
    text-align: center;
}

.container {
    align-self: center;
}

.space {
    color: white;
    border-style: solid;
    border-color: black;
    width: 60px;
    height: 50px;
    display: inline-flex;
    margin: 0;
}

input[type=text]{
    height: 100%;
    width: 100%;
}

input[type=button] {
    font-style: italic;
    background-color:aqua;
    margin-left: 30px;
    margin-bottom: 20px;
}

.horizontal {
    border-bottom-width: 50px;
    border-bottom-color: black;
}

.vertical {
    border-right-width: thick;
    border-right-color: black;
}

.space > p {
    text-align: center;
    display: inline;
    color: black;
    padding-left: 35%;
    font-size: 20px;
}

#buttonDiv {
    margin: 20px;
}

