* {
    text-align: center;
}

.container {
    align-items: center;
}

.box {
    color: white;
    border-style: solid;
    border-color: black;
    width: 60px;
    height: 50px;
    display: inline-flex;
    margin: 0;
}


.horizontal {
    border-bottom-width: 50px;
    border-bottom-color: black;
}

.vertical {
    border-right-width: thick;
    border-right-color: black;
}

p {
    text-align: center;
    display: inline;
    color: black;
}