#gridDiv {
    background-color: white;
    border: 20px;
    border-color: black;
    border-style: double;
}

rowLines {

}

columnLines {

}

boxRowLines {

}

columnRowLines {
    
}